body{
    /* background-color: bisque;
    background-image:url("Screenshot\ 2024-10-24\ 165935.png");
    background-size:cover; */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


    

}
button {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
      background-color:#3995f7 ;
      border-color: #fff;
      transition: all .1s ease-in-out;
    }
    
  }
h1{
    padding: 20px;
}
.innercontainer{
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 10px;
    width: 200px;
}
.innercontainer1{
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 10px;
    width: 200px;
}

.option1{
    padding: 10px;
    background-color: azure;
    border-radius: 40px;
}
.option1:hover{
    border: 2px solid black;
}

.option2{
    padding: 10px;
    background-color: azure;
    border-radius: 40px;
}
.option2:hover{
    border: 2px solid black;
}
.option3{
    padding: 10px;
    background-color: azure;
    border-radius: 40px;
}
.option3:hover{
    border: 2px solid black;
}
.option4{
    padding: 10px;
    background-color: azure;
    border-radius: 40px;
}
.option4:hover{
    border: 2px solid black;
}